# Dados de configuração da aplicação
app/config/app_settings.json
.env
.env.local
.env.production
*.env
# Ignorar completamente a pasta da IDE
.idea/

# Pastas de Build e Distribuição
build/
dist/
*.egg-info/

# Byte-compiled / arquivos de cache
__pycache__/
*.py[cod]